#COLORS {
  color: #f2f2f2;
  color: #225c73;
  color: #538ea6;
  color: #a66556;
  color: #d98982;
}


.menu-btn, .submit-btn {
  border: 2px solid #225c73;
  color: #225c73 !important;
  background-color:   #f2f2f2;
  font-size: medium;
  font-weight: 500;
  width: 100%
}

.menu-btn:hover, .submit-btn:hover{
  background-color: #225c73 !important;
  border: 2px solid #538ea6 !important;
  color: #f2f2f2 !important
}

.fab {
  position: relative;
  top: 40px;
}

.fab:focus {
  outline: 1px !important
}

.fabicon {
  color: #225c73 !important;
}

.fab :active {
  color: #225c73 !important;
}

.cancel-btn {
  border: 2px solid #a66556;
  color: #a66556!important;
  background-color:   #f2f2f2;
  font-size: medium;
  font-weight: 500;
  width: 100%
}

.cancel-btn:hover{
  background-color: #a66556 !important;
  border: 2px solid #225c73 !important;
  color: #f2f2f2 !important
}


.card {
  background-color: #538ea6;
}

body {
  background-color: #f2f2f2;
}

.menu-btn {
  margin-top: 5px;
  width: 100%;
}

.card-header {
  background-color: #225c73;
  padding-bottom: 0px;
}

.card-body {
  background-color: #538ea6 !important;
  color: #f2f2f2
}

.card-footer {
  color: #f2f2f2
}

textarea {
  background-color: #f2f2f2;
  font-size: medium;
}

.footer {
  background-color: #225c73;
}

.ling-date {
  float: right;
}

.ling-reply {
  width: 100%;
  height: 50px;
  padding: 0 0 20px 0;
}

.ling-reply-text {
background-color: #f2f2f2;
}

.hide {
  display: none;
}

.show {
  display: block inline;
}

/*@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");*/
/*@import url("https://fonts.googleapis.com/css?family=Urbanist&display=swap");*/
/*@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");*/

h1,
h2,
h3,
h4,
h5,
Button
{
  font-family: "Urbanist", sans-serif;
}

.card-header{
  color: #f2f2f2
}

.card, body {
  font-family: "Poppins", sans-serif;
}

.reply-ling {
  width: 95%;
  margin-left: auto;
}

.footer {
  background-color: #f2f2f2;
}

.replySignOff {
  background-color: #225c73;
}

.correction {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: right;
  background-color: #a66556;
  margin-right: -15px;
  padding-top: 2px;
  padding-left: 1px;
  margin-top: -15px;
  color: #f2f2f2;
}

.correction:after {
  text-align: center;
  font-size: larger;
  font-weight: 800;
  content: "!";
  margin-left: 7.5px;
  line-height: 0%;
}

/*.reply {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: right;
  background-color: green;
  margin-right: -15px;
  margin-top: -15px;
}*/

.correction-body {
  background-color: #f2f2f2;
  border: 5px solid #225c73;
  border-radius: 5px;
  padding: 3%;
  color: #225c73;
}

.fake-link {
  color: darkcyan;
  text-decoration: underline;
}

.fake-link:hover {
  color: black;
}

.loader {
  font-size: xx-large;
  text-align: center;
  animation: loadspin 2s infinite;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes loadspin {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ling-reply-text {
  width: 100%;
  padding-left: 8px;
  height: 50px;
}

.cor-pref-timeline {
  font-size: small;
  padding: 3px 10px;
  background-color: #a66556;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: -10px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  color: #f2f2f2;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 200ms ease-in;
}

.reply-no-link {
  /*text-decoration: none;*/
  color: inherit;
}

.reply-no-link:hover {
  /*text-decoration: none;*/
  color: inherit;
}

.reply-notif {
  margin-bottom: 45px;
}

.reply-notif:hover {
  transform: scale(1.005);
  filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.1));
  text-decoration: none !important;
  color: inherit;
}


.timeline-no-link {
  text-decoration: none;
  color: inherit;
}

.timeline-no-link:hover {
  text-decoration: none;
  color: inherit;
  transform: scale(1.005);
  transform: scale(1.005);
}

.timeline-hover:hover {
  transform: scale(1.005);
  filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.1));
}

.success-msg {
  position: absolute;
  right: 10%;
  z-index: 5;
  background-color: mintcream;
  border: 1px solid grey;
  padding: 10px 20px;
  border-radius: 3px;
  animation-name: success-msg-vanish;
  animation-duration: 4s;
  opacity: 0
}

@keyframes success-msg-vanish {
  0% {
    bottom: 15%;
    opacity: 100%;
  }
  20% {
    bottom: 15%;
  }
  100% {
    bottom: -15%;
    opacity: 0;
  }
}



#COLORS {
  color: #f2f2f2;
  color: #225c73;
  color: #538ea6;
  color: #a66556;
  color: #d98982;
}

.modal-header, .close {
  color: #f2f2f2;
  background-color: #225c73;
}

.modal-body {
  background-color: #538ea6;
  color: #f2f2f2 !important;
}

#newLingBody, .form-control {
  background-color: #f2f2f2 !important;
}


.logo-title {
  font-size: 73px !important;
  font-weight: 800;
  color: #225c73;
  margin-bottom: -17px ;
}

.logo-subtitle{
  font-size: 30px !important;
  font-weight: 500;
  color: #538ea6;
  text-shadow: 
  -1px -1px 0 #f2f2f2,
   0   -1px 0 #f2f2f2,
   1px -1px 0 #f2f2f2,
   1px  0   0 #f2f2f2,
   1px  1px 0 #f2f2f2,
   0    1px 0 #f2f2f2,
  -1px  1px 0 #f2f2f2,
  -1px  0   0 #f2f2f2;
}

.logo-hr{
  background-color: #225c73;
  width: 95%;
  height: 2px
}

.welcome-msg {
  color: #225c73 !important
}

.text-danger {
  background-color: #f2f2f2 !important;
  border-radius: 5px;
  padding: 2px 5px
}

.auth-form {
  padding-left: 10%;
  padding-right: 10%
}